*{
    font-family: 'Open Sans', sans-serif;
    
}

header{
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    font-size: 1.17rem;
    color:#4d0dab;
}
a:hover{
    text-decoration: underline;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 92px;
    height: 30px;
    margin-right: 20px;
}
#search{
    border: none;
}
.search-bar{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    border: 1.5px solid rgb(192, 189, 189);
    border-radius: 25px;
    align-items: center;
    width: 647px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-bar:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
    cursor:text;
}
.right-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
}
.color-blue{
    color: #4285f4;
}
.color-red{
    color: #ea4335;
}
.color-grey{
    color: #5e6265;
    font-weight: bolder;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ab47bc;
    color: white;
    font-weight: 900;
}

/* Nav-Bar */
.navbar{
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-bottom: 2px solid black; */
    display: flex;
    align-items:center;
    position: relative;
    left: 200px;
    padding: 20px;
}
.navbar a{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    margin-left: 5px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #70757a;
    width: 5rem;
    height: 2rem;
}
#active{
    color: #5d97f6;
    border-bottom: 2px solid #5d97f6;
}

.navbar a:focus{
    color: #5d97f6;
    border-bottom: 2px solid #5d97f6;
}

/* Content */
.content{
    /* width: 50%; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.left{
    width: 50%;
}

#did-u-mean{
    font-size: 15px;
    margin-top: 0px;
}
#did{
    color: red;
}

/* EDUCATION */
/* .left a{
    text-decoration: none;
    font-size: large;
    color: #1a0dab;
} */

h2{
    color:#737678;
    font-weight: 900;
    font-size: 20px;
    padding: 5px 0;
    margin-top: 30px;
    border-bottom: 1px #dfe1e2 solid;
}
.tick-icon{
    font-size: 2px;
    padding-left: 10px;
}
.edu-content p{
    color:#77797b;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    line-height: 1.4;
}
.edu-subhead{
    display: flex;
    align-items: cneter;
}

/* Achievements */
.achievements{
    /* width: 50%; */
    padding-right: 10px;
}
.a-img{
    width: 3.5%;
    margin-right: 13px;
}

.a-head{
    display: flex;
    /* justify-content:center; */
    align-items: center;
    margin-left: 15px;
    height: 8px;
    
}

.achievements ul li{
    color:#77797b;
    font-size: 14px;
    padding-bottom: 15px;
    
}

/* Projects */
.proj{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    
}
.proj img{
    width: 148px;
    height: 93px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.proj img:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.proj-content{
    display: flex;
    flex-direction: column;
    
}
.proj-content a{
    /* margin-top: 20px; */
    font-size: 16px;
    
}
.proj-content p{
    font-size: 14px;
    
    
}
#proj-tech{
    margin-bottom: 0px;
    color: #4d5156;
    font-weight: bold;
}
#proj-date{
    margin-top: 0px;
    font-size: 13px;
    /* font-weight: bold; */
    color: #70757a;
}
/* Right-section */
.right{
    margin: 0;
    padding-left: 20px;
}
.my-info{
    border: 1px solid rgb(150, 148, 148);
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* text-align: center; */
}
.my-info:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.my-info img{
    width: 50%;
    /* height: 10em; */
    /* border-radius: 100%; */
    border-radius: 25px;
    margin-left: 25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.my-info h1{
    text-align: center;
    color: #202124;
}
.my-info p{
    font-size: 14px;
    color: #4d5156;
}
.my-info h5{
    display: inline;
    font-size: 14px;
}
.my-info a{
    font-size: 14px;
    padding: 0 4px;
}
/* SKILLS */
.skills p{
    background-color: #f1f3f4;
    border-radius: 25px;
    padding: 13px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}
.skills p:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}